Repository Shubham27052/hyperbuild-todoapp-tfcode: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/terraform-dev.yaml, .pipelines/terraform-prod.yaml

.pipelines/terraform-dev.yaml:

trigger:
  paths:
    include:
      - environments/dev/*


variables:
 - group: terraform-secrets

stages:
  - stage: TerraformDeployment
    displayName: Terraform CI/CD
    jobs:
      - job: DeployDevEnv
        displayName: "Deploy Dev environment"
        pool:
            name: noteapp-agents
        steps:
            - script: |
                cd $(Build.SourcesDirectory)/environments/dev/
                terraform init -input=false
              env:
                ARM_SUBSCRIPTION_ID: $(ARM_SUBSCRIPTION_ID)
                ARM_TENANT_ID : $(ARM_TENANT_ID)
                ARM_USE_MSI: $(ARM_USE_MSI)
              displayName: 'Terraform Init'

            - script: |
                cd $(Build.SourcesDirectory)/environments/dev/                
                terraform plan -out=tfplan
              displayName: 'Terraform Plan'

            - script: |
                cd $(Build.SourcesDirectory)/environments/dev/                
                terraform apply -auto-approve tfplan
              displayName: 'Terraform Apply'

.pipelines/terraform-prod.yaml:

trigger:
  paths:
    include:
      - environments/prod/*


variables:
 - group: terraform-secrets

stages:
  - stage: Initialize
    displayName: Initialize
    jobs:
      - job: InitializeProdEnv
        displayName: "Initialize Prod environment"
        pool:
            name: noteapp-agents
        steps:
            - script: |
                cd $(Build.SourcesDirectory)/environments/prod/
                terraform init -input=false
              env:
                ARM_SUBSCRIPTION_ID: $(ARM_SUBSCRIPTION_ID)
                ARM_TENANT_ID : $(ARM_TENANT_ID)
                ARM_USE_MSI: $(ARM_USE_MSI)
              displayName: 'Terraform Init'

            - script: |
                cd $(Build.SourcesDirectory)/environments/prod/                
                terraform plan -out=tfplan
              displayName: 'Terraform Plan'


  - stage: Deploy
    displayName: Deploy
    jobs:
      - deployment: TerraformApplyProd
        displayName: "Deploy to prod env post approval"
        environment: terraform-prod-env
        pool: 
          name: noteapp-agents
        strategy:
          runOnce:
            deploy:
              steps:
                - script: |
                   cd $(Build.SourcesDirectory)/environments/prod/                
                   terraform apply -auto-approve tfplan
                  displayName: 'Terraform Apply'

Addedd new stage to the prod pipeline
  .pipelines/terraform-prod.yaml
Due: none

Added aaplication settings in App service Dev env
  environments/dev/main.tf
Due: .pipelines/terraform-dev.yaml

Promoted dev web app to B1
  environments/dev/main.tf
Due: .pipelines/terraform-dev.yaml

minor fixes
  environments/dev/main.tf
Due: .pipelines/terraform-dev.yaml

update prod
  environments/prod/main.tf
Due: .pipelines/terraform-prod.yaml

Updated prod docker image
  environments/prod/main.tf
Due: .pipelines/terraform-prod.yaml

Updated dev docker image
  environments/dev/main.tf
Due: .pipelines/terraform-dev.yaml

Updated App Service SKU to B1
  environments/prod/main.tf
Due: .pipelines/terraform-prod.yaml

Added role assignment for prod web app
  environments/prod/main.tf
Due: .pipelines/terraform-prod.yaml

Added role assignment for dev web app
  environments/dev/main.tf
Due: .pipelines/terraform-dev.yaml

Introduced templates in pipelines
  .pipelines/templates/template-steps.yaml
  .pipelines/terraform-dev.yaml
  .pipelines/terraform-prod.yaml
  environments/dev/main.tf
  environments/prod/main.tf
Due: .pipelines/terraform-dev.yaml, .pipelines/terraform-prod.yaml

Create README.md
  README.md
Due: none

Update README.md
  README.md
Due: none
